/*importing google fonts for CSS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');


/*CSS Color Variables*/
:root {
  --navy: #2F4156;
  --sky-blue: #C8D9E6;
  --beige: #F5EFEB;
  --azalea:#F7C9DA;
  --pale-pink: #FFE1E6;
  --light-blue: #C3E7F1;
  --moonstone: #519CAB;
  --saffron: #FFC64F;
  --gun-metal: #20373B;
  --lavender: #DABBE0;
  --soft-sky: #BED1E3;
  --flamingo: #EEBFD1;
  --mauve: #ECAAC2;
  --denim: #93AECA;
  --lavender-blush: #FFE6ED;
  --blush: #CF7486;
  --red: #E63946;
  --yellow: #FFE21C;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: linear-gradient(135deg, var(--mauve) 0%, var(--denim) 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.widget-container {
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  padding: 20px;
  width: 300px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.album-art img {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.song-title {
  font-size: 18px;
  color: var(--blush);
}

.artist-name {
  color: var(--moonstone);
  font-size: 14px;
  opacity: 0.8;
}

.controls {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.prev-btn {
  background: var(--light-blue);
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev-btn :hover {
  background: var(--azalea);
  transform: scale(1.1);
  filter: drop-shadow(0 0 2em var(--lavender-blush));
}

.play-pause-btn {
  background: var(--flamingo);
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.play-pause-btn :hover {
  background: var(--denim);
  transform: scale(1.1);
  filter: drop-shadow(0 0 2em var(--lavender-blush));
}

.next-btn {
  background: var(--red);
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.next-btn :hover {
  background: var(--soft-sky);
  transform: scale(1.1);
  filter: drop-shadow(0 0 2em var(--lavender-blush));
}